@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/duck-numbers-banner.jpg" width="1250"  height="200" />
    <h1 class="display-4">Welcome</h1>
</div>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Home</title>
    <link rel="shortcut icon" href="~/img/duck logo.ico" type="image/x-icon">
    <link rel="icon" href="~/img/duck logo.ico" type="image/x-icon">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Serenity
    * Template URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
    * Updated: Aug 07 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body class="about-page">

    

    <main class="main">

        <!-- Page Title -->
        <div class="page-title light-background">
            <div class="container">
                <nav class="breadcrumbs">
                    <ol>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li>About</li>
                    </ol>
                </nav>
                <h1>About</h1>
            </div>
        </div><!-- End Page Title -->
        <!-- About 2 Section -->
        <section id="about-2" class="about-2 section">

            <div class="container" data-aos="fade-up">

                <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-5">
						<div class="about-img">
                            <img src="~/img/dog-blind-north-mountain-gear-3.jpg" class="img-fluid" alt="" />
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <h3 class="pt-0 pt-lg-5">Anybody can duck hunt. Click below to learn more.</h3>

                        <!-- Tabs -->
                        <ul class="nav nav-pills mb-3">
                            <li><a class="nav-link active" data-bs-toggle="pill" href="#about-2-tab1">My Hobby</a></li>
                            <li><a class="nav-link" data-bs-toggle="pill" href="#about-2-tab2">Why I Do It</a></li>
                            <li><a class="nav-link" data-bs-toggle="pill" href="#about-2-tab3">How I Can Help You</a></li>
                        </ul><!-- End Tabs -->
                        <!-- Tab Content -->
                        <div class="tab-content">

                            <div class="tab-pane fade show active" id="about-2-tab1">

                                <p class="fst-italic">I'm relatively new to duck hunting. Ever since my first time, I have been in love with it.</p>

                                    <i class="bi bi-check2"></i>
                                    <h4>My First Hunt</h4>
                                <p>Almost two years ago during my first hunt, I had no way to nail the ducks, and no way to get in the water without getting wet. My buddy got a rare wood duck, which tastes like steak, and from then on I wanted to join in on the fun.</p>

                                    <i class="bi bi-check2"></i>
                                    <h4>What Is A Duck Hunt?</h4>
                                <p>My uncle, an avid duck hunter, says that duck hunters hate themselves. This is because we get up early, wait hours in the cold for the chance a fleeting moment of pure exhiliration. It is both calming and tiring at the same time.</p>

                            </div><!-- End Tab 1 Content -->

                            <div class="tab-pane fade" id="about-2-tab2">

                                <p class="fst-italic">I like having a hobby, it helps me feel the joy of something I am good at.</p>

                                    <i class="bi bi-check2"></i>
                                    <h4>I love anticipation</h4>
                                
                                <p>Duck hunting is all about anticipation. Sitting with bated breaths, until finally, at long last, it is the of sunrise. Finally you can get the mallards that have been sitting in front of your blind for the last 30 minutes. At last, great satisfaction is yours.</p>

                            </div><!-- End Tab 2 Content -->

                            <div class="tab-pane fade" id="about-2-tab3">

                                <p class="fst-italic">You will have more success with someone more experienced than you.</p>

                                
                                    <i class="bi bi-check2"></i>
                                    <h4>There is a lot to learn</h4>
                               
                                <p>Duck hunting can be both dangerous and boring if done incorrectly. If not for my hunting buddy, I never would have nailed my first duck. It takes time to learn, even from someone who knows the ropes.</p>

                            </div><!-- End Tab 3 Content -->

                        </div>

                    </div>

                </div>

            </div>


    </main>

    <footer id="footer" class="footer dark-background">

        <div class="container">
            <div class="row gy-3">
                <div class="col-lg-3 col-md-6 d-flex">
                    <i class="bi bi-geo-alt icon"></i>
                    <div class="address">
                        <h4>Address</h4>
                        <p>TNRB, Brigham Young University</p>
                        <p>Provo, UT 84602</p>
                        <p></p>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 d-flex">
                    <i class="bi bi-telephone icon"></i>
                    <div>
                        <h4>Contact</h4>
                        <p>                    
                            <strong>Email:</strong> <span>cts59@byu.edu</span><br>
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex">
                    <i class="bi bi-clock icon"></i>
                    <div>
                        <h4>Opening Hours</h4>
                        <p>
                            <strong>Mon-Fri:</strong> <span>4AM - 12PM</span><br>
                            <strong>Sat&Sun</strong>: <span>Closed</span>
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <h4>Follow Us</h4>
                    <div class="social-links d-flex">
                        <a href="https://www.linkedin.com/in/christian-t-sorensen/" class="linkedin"><i class="bi bi-linkedin"><img src="~/img/linkedin-logo-linkedin-icon-transparent-free-png.png" width="75" height="75" /></i></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="container copyright text-center mt-4">
            <strong class="px-1 sitename">Site Made By Christian Sorensen</strong><p>© <span>2025 Sorensen, Inc.</span>  <span>All Rights Reserved</span></p>
        </div>

    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>
