<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DuckGuide</title>
    <link rel="shortcut icon" href="~/img/duck logo.ico" type="image/x-icon">
    <link rel="icon" href="~/img/duck logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DuckGuide.styles.css" asp-append-version="true" />
</head>
<body>
    <header id="header" class="header d-flex align-items-center sticky-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">
            <!--Title for all the pages-->
            <a asp-area="" asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center me-auto">
                <img src="~/img/duck logo.png" alt="" />
                <h1 class="sitename">"Marshin' It"- Duck Hunting</h1>
            </a>
            <!--Navbar for all the pages-->
            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area ="" asp-controller="Home" asp-action="Calculator">Pricing Calculator</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>


        </div>
    </header>
    

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
